# Manejo de errores
ErrorDocument 404 /404.php

# Redirección inteligente al instalador
RewriteEngine On
# Si NO existe el archivo config.php (asumiendo que eso marca si está instalado)
RewriteCond %{DOCUMENT_ROOT}/api/config.php !-f
# Y si la petición NO es ya para el instalador o archivos assets
RewriteCond %{REQUEST_URI} !^/tovi/pacheco.php
RewriteCond %{REQUEST_URI} !^/assets/
# Redirigir todo a tovi/pacheco.php
RewriteRule ^(.*)$ /tovi/pacheco.php [L,R=302]

# Bloquear navegación de directorios
Options -Indexes