html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../assets/fonts/OpenSans-Light.woff") format("woff");
    font-weight: light;
    font-style: light;
}

strong,
b {
    font-weight: bold;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

body {
    font-family: "Open Sans";
}

h1 {
    font-size: 3em;
}

#esperar {
    background-color: #4d6175;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.fade {
    transition: all 0.3s ease;
}

.expand {
    grid-template-columns: 250px auto;
}

.contra {
    grid-template-columns: 65px auto;
}

header {
    display: grid;
}

header #barra {
    display: grid;
    grid-template-columns: 30px auto max-content;
    padding: 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
}

header #barra .iz span {
    font-size: 20px;
    cursor: pointer;
}

#contenido {
    display: grid;
}



#logo {
    height: 50px;
    background-color: #4d6175;
    position: sticky;
    top: 0;
    z-index: 1;
}

aside {
    background-color: #304255;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

aside #menu {
    color: #fff;
    padding: 8px;
}

aside #menu li {
    margin-top: 3px;
    cursor: pointer;
    border-radius: 5px;
}

aside #menu li .menu-item {
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
    padding: 15px;
}

aside #menu li .menu-item i {
    font-size: 20px;
}

aside #menu li .menu-item span {
    font-weight: bold;
}

aside #menu li .menu-item i.ti-angle-right {
    font-size: 15px;
    text-align: center;
}

aside #menu li .submenu {
    display: none;
    background-color: #24303d;
    border-radius: 5px;
}

aside #menu li .submenu .item {
    display: grid;
    grid-template-columns: 30px max-content;
    padding: 10px;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

aside #menu li .submenu .item i.ti-angle-right {
    font-size: 10px;
    text-align: left;
}

aside #menu li .submenu .item:hover {
    color: aqua;
}

aside #menu li .submenu .item:last-child {
    padding-bottom: 25px;
}

aside #menu li:hover {
    background-color: #24303d;
}

aside #menu li.open,
aside #menu li.activo {
    background-color: #24303d;
}

aside #menu li.open .menu-item i.ti-angle-right,
aside #menu li.activo .menu-item i.ti-angle-right {
    transform: rotate(90deg);
}

aside .activo {
    background-color: #24303d;
}

aside .submenu .activo {
    color: aqua;
}

.expand .item-mov {
    display: none;
}

.contra #menu li:hover .submenu {
    display: block;
    position: absolute;
    left: 55px;
    border-radius: 5px;
    padding: 10px;
    margin-top: -50px;
}

.contra .item-mov {
    display: block;
    font-weight: bold;
    padding: 7px;
}

aside::-webkit-scrollbar {
    display: none;
}



#main {
    background-color: #fbfbfb;
    height: calc(100% - 50px);
    padding: 30px;
}

/*# sourceMappingURL=admin.css.map */